.Btn-Link{
    position: absolute;
    top: 70%;
    left: 20%;

    border: none;
    border-radius: 15px;

    padding: 10px 50px;

    font-weight: bold;
    font-size: 1.3rem;
    
    color: rgba(0, 0, 0, 70%);

    cursor: pointer;
    outline: 0;

    background: rgba(255, 255, 255, 70%);
}

@media (min-width: 600px){
    .Btn-Link:hover{
        transition: all .5s ease;
        transform: translateY(-20px);
    }
}